*{
	margin: auto;
	font-family:"Times New Roman";

}
body{
	background-image: url("/assets/css/coffee.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-display: block;
}
.container{
	width: 900px;
	display: block;
	color: #666666;
    background-color: #ffffff;
    border: 2px solid black;
    opacity: 0.7;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;

}
nav .navbar{
	text-decoration: none;
    list-style-type: none;


}


.navbar-header{
	font-size: 35px;
	text-shadow: 0px 4px 4px #800002;
	margin-top: 50px;
	margin-left: 20px;

}

.navList{
    margin: 0;
    padding: 0;
    float: right;
    font-size: 25px;
    margin-top: 50px;
	margin-right: 20px;
	display: block;
	overflow: hidden;
	
}

.items{
    padding-top: 20px;
}


li a:hover {
    background-color: #800002;
    border-radius: 7px;
    text-decoration: none;
    color: white;

}

p{
	text-align: center;
	color: #4C4C4C;


}

h3{
	text-align: center;
	padding-top: 100px;
	padding-bottom: 25px;

}

h4{
	color: #4C4C4C;
	text-align: center;


}

label{
	font-size: 20px;
	padding: 3px;
	color: #4C4C4C;
}

.form-group{
	border: thin #800002 solid;
	width: 400px;
	text-align: center;

}

.button{
    position: relative;
    transition: .5s ease;
    margin-bottom: 25px;
    margin-left: 270px;
    font-size: 20px;

}

.button2{
    position: relative;
    transition: .5s ease;
    margin-left: 510px;
    margin-bottom: 25px;
    font-size: 20px;
}

ul, li .menu{
    font-size: 20px;
    text-align: center;
    margin-right: 50px;
    list-style-type: none;
    display: block;
}