* {
 margin: auto;
 font-family: "Times New Roman";
}

body {
 background-image: url("/assets/css/coffee.jpg");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 display: block;
}

.container-fluir {
 max-width: 900px;
 color: #666666;
 background-color: #ffffff;
 border: 2px solid black;
 opacity: 0.7;
 border-radius: 10px;
 margin: 30px auto ;
}

.navbar-brand {
 font-family: 'Dancing Script', cursive;
 font-size: 35px;
 text-shadow: 0px 4px 4px #800002;
 margin-top: 5%;
 margin-left: 5%;
 text-decoration: none;
}

.nav-item {
 font-size: 23px;
 color: #ffffff;
 padding-bottom: 0px;

}

.navbar-nav{
  float: right;
  margin-top: 7%;
  margin-right: 5%;


}

li {
 text-align: left;
 font-weight: bold;
 text-decoration: none;
 list-style-type: none;
 padding-bottom: 10px;
}

p {
 text-align: center;
 color: #4C4C4C;
 font-size: 16px;
 padding: 10px;
}

h3 {
 text-align: center;
 padding-top: 150px;
 padding-bottom: 15px;
}

h4 {
 color: #4C4C4C;
 text-align: center;
}

label {
 font-size: 20px;
 margin-top: 5px;
 color: #4C4C4C;
}

a.nav-link{
  font-size: 20px;

}
.form-group {
 border: thin #800002 solid;
 text-align: center;
 margin-bottom: 10px;
 border-radius: 5px;
}

.row {
 margin: 10px auto;
}

.button {
 margin-top: 10px;
}

input{
  text-align: center;
}

option{
  text-align: center;
}

.session{
position: flex;
height: 5px;
width: 35%;
}


